.container {
    display: grid;
    grid-template-areas:
        "table text"
        "form text";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr auto;
    gap: 0 2px;
    height: 100vh;
    background-color: #ddd;
}

@media (max-width: 768px) {
    .container {
        grid-template-areas:
            "table"
            "text"
            "form";
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        height: auto;
    }
}

.table {
    grid-area: table; 
    overflow-y: auto;
    padding: 24px;
    background-color: #ffffff;
}

.form {
    grid-area: form; 
    padding: 24px;
    background-color: #ffffff;
}

.text {
    grid-area: text; 
    background-color: #ffffff;
    overflow-y: scroll;
}

@media (max-width: 768px) {
    .text {
        overflow-y: auto;
    }
}